* {
    box-sizing: border-box
    /*wireframing border*/;
    border: 1px solid red;
    padding: 0;
    margin: 0;
}

header,
main,
footer {
    padding: 16px
}

main {
    min-height: 80vh;
}

header {
    background-color: rgb(178, 178, 236);
    position: absolute;
    left: 0;
    right: 0;

}

ul {
    position: relative;
    list-style-type: none;
    left: 450px

}
