* {
    box-sizing: border-box
    /*wireframing border*/;
    border: 1px solid red;
    padding: 0;
    margin: 0;
}

header,
main,
footer {
    padding: 16px
}

main {
    min-height: 80vh;
}

header {
    background-color: blue;
    position: absolute;
    left: 0;
    right: 0;

}

.myitems{
    position: relative

}
